 * {
     padding: 0;
     margin: 0;
     list-style: none;
     text-decoration: none;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 @font-face {
    font-family: "Marline Free";
    src: url("./fonts/marline_free-webfont.woff");
    
    }

    @font-face{
        font-family: "Vagron";
        src: url("./fonts/vagron-webfont.woff");
    }

 a {
     text-decoration: none !important;
 }

 body {
     background: #fff;
     font: 400 14px/20px 'PT Sans', sans-serif;
     color: #777;
     overflow-x: hidden;
 }

 :focus {
     outline: 0 none;
 }

 a:focus {
     outline: 0 none;
 }

 .container {
     width: 100%;
     max-width: 1170px;
     margin: 0 auto;
     float: none;
 }

 .headContainer {
     padding-right: 0;
     padding-left: 0;
 }

 .headerPart {
     width: 100%;
     height: auto;
     float: left;
     background: #edc647;
     position: relative;
     box-shadow: #777 0 0 5px;
     position: relative;
     z-index: 99;
 }

 /* .headerPart .logo {
     width: 25%;
     height: auto;
     background: #edc647;
     display: block;
     text-align: center;
     padding: 10px 0;
     float: left;
     color:#fff !important;
 } */

 .headerPart .logo h1{
    font-family: "Marline Free";
    font-size: 72px;
 }
 .headerPart .logo h3{
    font-family: "Vagron";
 }

 .headerPart .address {
     width: 75%;
     height: auto;
     background: #fff;
     float: left;
     padding: 56px 28px;
 }

 .headerPart .address li {
     float: left;
     margin-right: 165px;
     font: 400 14px/19px 'Open Sans', sans-serif;
     color: #3f3f3f;
     padding-left: 60px;
 }

 .headerPart .address li a {
     font: 400 14px/19px 'Open Sans', sans-serif;
     color: #3f3f3f;
 }

 .headerPart .address li a:hover {
     font-weight: bold;
 }

 .headerPart .address li:last-child {
     margin-right: 0;
 }

 /* .headerPart .address {
     text-align: center;
     width: 100%;
     height: auto;
     background: #fff;
     padding: 26px 28px;
 }


 .headerPart .address li a {
     font: 400 14px/19px 'Open Sans', sans-serif;
     color: #3f3f3f;
 } */

 .headerPart .logo {
     width: 25%;
     height: auto;
     position: relative;
     background: #edc647;
     display: block;
     text-align: center;
     padding: 19px 0;
     float: left;
     color:#fff !important
 }

 .headerPart .nav {
     width: 100%;
     height: 88px;
     background: #398790;
     float: left;
     padding-left: 155px;
 }

 .headerPart .nav li {
     float: left;
     margin-right: 1px;
     position: relative;
 }

 .headerPart .nav li a {
     font: 18px/22px 'Vagron';
     color: #fff;
     display: block;
     text-align: center;
     padding: 33px 21px;
 }

 .headerPart .nav li a:hover {
     background: #e8485b;
 }

 body.fixed .logo {
     padding: 10px 0;
 }

 .bannerPart {
     width: 100%;
     float: left;
     height: auto;
     position: relative;
 }

 .sliderLst {
     float: left;
     width: 100%;
     height: 587px;
     background-size: cover;
 }

 .sliderLstTxt {
     position: relative;
     top: 25%;
     left: 0;
     width: 100%;
     padding: 0 0 0;
     margin: 0;
     font: normal 30px/70px 'MasterOfBreak', sans-serif;
     color: #fff;
     text-shadow: #111 0 0 5px;
 }

 .sliderLstTxt .btn {
     width: 184px;
     height: 48px;
     text-align: center;
     display: inline-block;
     font: 400 23px/23px 'VAGRoundedBT', sans-serif;
     color: #fff;
     background: #e8485b;
     padding: 12px 0;
     margin: 40px 40px 0 0;
     border-radius: 3px;
     box-shadow: #555 2px 2px 3px;
     text-shadow: none;
 }

 .sliderLstTxt .btn:hover {
     background: #edc647!important;
 }

 .socialMedia {
     width: 100%;
     float: left;
     height: auto;
     position: relative;
     text-align: center;
 }

 .socialMedia ul {
     width: 390px;
     height: auto;
     text-align: center;
     margin: 0 auto;
 }

 .socialMedia ul li {
     float: left;
     color: #fff;
     border-radius: 50%;
     margin: 30px 20px;
 }

 .socialMedia ul li a {
     color: #fff;
     width: 56px;
     height: 56px;
     display: block;
     font-size: 30px;
     line-height: 56px;
 }

 #programs .block {
     text-align: center;
     padding-bottom: 20px;
 }

 #programs .block .programHeader1{
    color: #e8485b;
    /* background-color: #e8485b; */
}

#programs .block .programHeader2{
    color: #edc647;
    /* background-color: #e8485b; */
}

#programs .block .programHeader3{
    color: #76acc8;
    /* background-color: #e8485b; */
}

#programs .block .programHeader4{
    color: #70c582;
    /* background-color: #e8485b; */
}

 #programs .block h1 {
     font-family: "Marline Free";
     font-size: 72px;
     color: #3b4446;
     padding: 20px 0;
 }

 #programs .block p {
     color: #3b4346;
     padding: 10px 0;
 }

 #programs .block .btn {
     width: 154px;
     height: 48px;
     text-align: center;
     display: inline-block;
     font: 400 20px/22px 'VAGRoundedBT', sans-serif;
     color: #fff;
     background: #e8485b;
     padding: 12px 0;
     margin: 10px 0;
     border-radius: 3px;
 }

 #programs .block .btn:hover {
     background: #398790!important;
 }

 #aboutUs {
     text-align: center;
 }

 #aboutUs h3{
     font-family: "Marline Free";
     font-size: 68px;
     color: #398790;
     padding-top: 10px;
     padding-bottom: 10px;
 }

 #aboutUs .btn{
    width: 145px;
    height: 45px;
    text-align: center;
    display: inline-block;
    font: 700 18px/20px 'Open Sans', sans-serif;
    color: #fff;
    background: #70c582;
    padding: 12px 0;
    margin: 25px 0;
    border-radius: 3px;
 }

 #aboutUs .btn:hover{
    background: #398790;
 }

 #photoGallery {
     width: 100%;
     float: left;
     height: auto;
     background: #fff;
     position: relative;
     padding: 10px 0;
     text-align: center;
 }

 #photoGallery .item-container img {
     /* width: 400px;
    height: auto;
    padding: 10px; */
     float: left;
 }



 .gradient-border {
     width: 100%;
     height: 3px;
     /*#02d8fb+0,26d1b7+32,77d467+61,e4dd11+100*/
     background: rgb(2, 216, 251);
     /* Old browsers*/
     background: -moz-linear-gradient(left, rgba(2, 216, 251, 1) 0%, rgba(38, 209, 183, 1) 32%, rgba(119, 212, 103, 1) 61%, rgba(228, 221, 17, 1) 100%);
     /* FF3.6-15*/
     background: -webkit-linear-gradient(left, rgba(2, 216, 251, 1) 0%, rgba(38, 209, 183, 1) 32%, rgba(119, 212, 103, 1) 61%, rgba(228, 221, 17, 1) 100%);
     /* Chrome10-25,Safari5.1-6*/
     background: linear-gradient(to right, rgba(2, 216, 251, 1) 0%, rgba(38, 209, 183, 1) 32%, rgba(119, 212, 103, 1) 61%, rgba(228, 221, 17, 1) 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+*/
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02d8fb', endColorstr='#e4dd11', GradientType=1);
     /* IE6-9*/
 }

 #contact h3{
    font-family: "Marline Free";
    font-size: 68px;
    color: #e8485b;
    padding-top: 10px;
}